.itemDetailContainer{
    padding-top: 110px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    >p{
        font-size: 18px;
        font-weight: 500;
    }
}

.preloader {
    animation-name: girar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}  