.cartWidgetContainer{
    width: 100%;
    display: flex;
    >.cart{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        >svg{
            width: 20px;
            height: 20px;
            color: #ffff;
        }
        >p{
            padding-top: 5px;
            font-size: 16px;
            color: #ffffff;
        }
    }
}