.cartContainer{
    padding-top: 110px;
    display: flex;
    justify-content: center;
    >div:nth-child(1){
        width: 90%;
        justify-content: center;
    }
}

.cartContainerNull{
    padding-top: 110px;
    display: flex;
    justify-content: center;
}