.itemListContainer{
    padding-top: 110px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    >p{
        font-size: 22px;
        font-weight: 500;
    }
}